<div class="container">
  <h1>Add New Bookmark</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: 'btn btn-primary my-3' %>
  <% end %>
  <p>
    <%= link_to '< Lists', lists_path, class: 'btn-light opacity-25 text-decoration-none' %>
  </p>
</div>
